{{!-- {{#each this}}
    <option-pure value="{{code}}" class="countries-item">{{name}}</option-pure>
{{/each}} --}}
 {{#each this}}
    <option value="{{code}}" class="countries-item">{{name}}</option>
{{/each}}
