body.dark-theme {
  color: var(--white-color);
  background-color: var(--dark-color);
}

body.light-theme {
  color: var(--dark-color);
  background-color: var(--white-color);
  background: linear-gradient(
    180deg,
    rgba(236, 191, 236, 0.521) 7%,
    rgba(244, 237, 245, 0.774) 92%,
    rgba(90, 68, 90, 0.712)
  );

  .header-bg {
    background-image: linear-gradient(
        to bottom,
        rgb(26, 22, 22),
        30%,
        rgba(167, 161, 161, 0.753),
        55%,
        rgba(37, 33, 33, 0.575),
        85%,
        #a80b8b98
      ),
      url('../images/mobile_pic-light@1x.png');
    height: 364px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgb(26, 22, 22),
          30%,
          rgba(167, 161, 161, 0.753),
          55%,
          rgba(37, 33, 33, 0.575),
          85%,
          #a80b8b98
        ),
        url('../images/mobile_pic-light@2x.png');
    }

    @media screen and (min-width: $tablet) {
      background-image: linear-gradient(
          to bottom,
          rgb(26, 22, 22),
          30%,
          rgba(167, 161, 161, 0.753),
          55%,
          rgba(37, 33, 33, 0.575),
          85%,
          #a80b8b98
        ),
        url('../images/tablet_pic-light@1x.png');
      height: 364px;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to bottom,
            rgb(26, 22, 22),
            30%,
            rgba(167, 161, 161, 0.753),
            55%,
            rgba(37, 33, 33, 0.575),
            85%,
            #a80b8b98
          ),
          url('../images/tablet_pic-light@2x.png');
      }
    }

    @media screen and (min-width: $desktop) {
      max-width: 100%;
      background-image: linear-gradient(
          to bottom,
          rgb(26, 22, 22),
          30%,
          rgba(167, 161, 161, 0.753),
          55%,
          rgba(37, 33, 33, 0.575),
          85%,
          #a80b8b98
        ),
        url('../images/desktop_pic-light@1x.png');
      height: 466px;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to bottom,
            rgb(26, 22, 22),
            30%,
            rgba(167, 161, 161, 0.753),
            55%,
            rgba(37, 33, 33, 0.575),
            85%,
            #a80b8b98
          ),
          url('../images/desktop_pic-light@2x.png');
      }
    }
  }
  .gallery-wrapper {
    top: 15px;
    @media screen and (min-width: $tablet) {
      top: 25px;
    }
    @media screen and (min-width: $desktop) {
      top: 30px;
    }
  }

  .footer-wrapper {
    color: var(--dark-color);
  }
  .borders {
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }
}
/*Button options*/

.toolbar {
  padding: 16px 24px;
  position: absolute;
  top: auto;
  right: 0px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: var(--accent-color);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translate(3px, 3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #8a8a91;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translate(35px, 3px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px var(--accent-color);
}
