.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 70px;
  height: 70px;

  border-color: transparent;
  border-radius: 50%;
  background-color: var(--dark-color);
  text-align: center;

  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;

  &:hover {
    background-color: var(--accent-color);
  }

  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}
.show {
  opacity: 1;
  visibility: visible;
}
.back-to-top ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--accent-color);

  &:hover {
    color: var(--dark-color);
  }
}

.back_to_top-show {
  display: block;
}
